@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
//   Login
$burgundy: #CA3568;
*{
	box-sizing: border-box;
} 
html, 
body {
    height: 100%;
	background-color: #F8F8F8;
	margin: 0;
	padding: 0;
}
.mainwrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
a {
	color: $burgundy;
}
.gap-10 {
	gap: 10px;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 56px;
	img{
		height: 32px;
	}
}
.footer {
	display: flex;
	background-color: #EBEBEB;
	justify-content: space-between;
	align-items: center;
	height: 45px;
	padding: 0 20px;
	@media (min-width: 3000px) {
		padding: 0 40px;
	}
	@media (min-width: 480px) {
		padding: 0 92px;
	}
	.copyright {
		text-transform: uppercase;
		font-family: DM Sans;
		font-size: 10px;
		font-weight: 500;
		line-height: 13px;
		letter-spacing: 1px;
		text-align: left;
		color: #C1C1C1;
	}
	&-links {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 12px;
		gap: 24px;
	}
	i {
		display: block;
		width: 16px;
		color: #C1C1C1;
	}
}
.a-button {
	text-decoration: none;
}
.skip {
	font-family: DM Sans;
	font-size: 9px;
	font-weight: 400;
	line-height: 13px;
	letter-spacing: 0px;
	text-align: center;
	color: #828486;
	position: absolute;
	bottom: -25px;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	flex: 1;
}
.onboarding-checkbox {
	display: flex;
	align-items: center;
	input {
		width: 10px;
		height: 10px;
		position: relative;
		appearance: none;
		border: 1px solid $burgundy;
		padding: 4px;
		border-radius: 2px;
		margin-right: 5px;
		&:checked {
			background-color: $burgundy;
			border: 1px solid $burgundy;
			box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		}
		&:checked:after {
			content: '\2714';
			font-size: 6px;
			position: absolute;
			top: 1px;
			left: 1.5px;
			background-color: #fff;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	label {
		user-select: none;
		font-size: 11px;
		font-weight: 400;
		line-height: 18px;
		margin-bottom: 0;
	}
	&>* {
		cursor: pointer;
	}
}
.onboarding-select {
	border: 1px solid #F1F1F1;
	height: 32px;
	padding: 0 16px;
	border-radius: 8px;
	font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
	cursor: pointer;
	&:invalid {
		color: #C1C1C1;
	}
	&:focus {
		outline: solid;
		outline-width: 2px;
		outline-color: #e01e5a;
		transition: outline 0.1s ease-out;
	}
}
.onboarding-input {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	width: 100%;
	gap: 4px;
	label {
		font-size: 10px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0px;
		text-align: left;
		padding: 0 16px;
		color: #828486;
		margin-bottom: 0;
	}
	.p-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	input {
		height: 32px;
		padding: 0 16px;
		border-radius: 8px;
		border: 1px solid #F1F1F1;
		font-size: 11px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0px;
		&:focus {
			outline: solid;
			outline-width: 2px;
			outline-color: #e01e5a;
			transition: outline 0.1s ease-out;
		}
		&::placeholder {
			color: #C1C1C1;
		}
	}
	.p-viewer {
		position: absolute;
		right: 4%;
		top: 12.5%;
		color: #C1C1C1;
		cursor: pointer
	}
}
.signup-button {
	align-items: center;
	justify-content: center;
	text-decoration: none;
	min-height: 40px;
	border-radius: 6px;
	display: flex;
	width: 100%;
	border: none;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0em;
	cursor: pointer;
}
.prompt {
	font-size: 9px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0px;
	text-align: center;
	padding: 0 16px;
	color: #828486;
	margin-bottom: 0;
}
.ortitle {
	width: 100%;
	max-width: 464px;
	border-bottom: 1px solid #EAEBF0;
	position: relative;
	margin-bottom: -16px;
	&-title {
		display: block;
		position: relative;
		width: fit-content;
		margin: auto;
		padding: 0 20px;
		background-color: #fff;
		top: 50%;
		font-size: 10px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0px;
		text-align: center;
		color: #828486;
	}
}
.redsquare {
	background-color: rebeccapurple;
	display: flex;
}
.login {
	&.wrapper {
		border-radius: 8px;
		display: flex;
		justify-content: center;
		flex: 1;
		max-width: 832px;
		max-height: 612px;
		background-color: #fff;
		padding: 16px;
		.front-pic {
			display: none;
			align-items: center;
			@media (min-width: 600px) {
				display: flex;
			}
			.pic-container {
				flex-grow: 1 1 0;
			    display: flex;
				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
		}
		.create-account {
			display: flex;
			flex-direction: column;
			max-width: 400px;
			flex-grow: 1;
			@media (min-width: 600px) {
				padding: 10px;
			}
			@media (min-width: 768px) {
				padding: 40px;
			}
			align-items: center;
			gap: 32px;
			.title {
				font-size: 22px;
				font-weight: 500;
				line-height: 29px;
				letter-spacing: 0px;
				text-align: center;
			}
			.signup-with-google {
				background-color: #F1F1F1;
				&:hover {
					background-color: #e0e0e0;
				}
				svg {
					margin-right: .5rem;
				}
				margin-bottom: -16px;
			}
			.signup {
				display: flex;
				flex-direction: column;
				align-self: stretch;
				align-items: center;
				gap: 16px;
				&-input {
					.prompt {
						margin-right: auto;
					}
				}
				.captcha {
					margin: auto;
				}
				.what-can-i-do {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					a {
						font-size: 11px;
						font-weight: 400;
						line-height: 18px;
						color: $burgundy;
					}
				}
				.email-signup {
					background-color: $burgundy;
					color: #FFFFFF;
					margin-bottom: -8px;
					&:hover {
						background-color: #9d1141;
					}
				}
			}
			.another-action {
				display: flex;
				gap: 4px;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				span {
					font-size: 11px;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 0px;
				}
				a {
					font-size: 11px;
					font-weight: 700;
					line-height: 18px;
					color: $burgundy;
					text-decoration: underline;
				}
			}
		}
	}
}

//Confirm email
.confirm {
	&-email-wrapper {
		display: flex;
		background-color: #fff;
		flex: 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 40px;
		max-width: 800px;
		min-height: 528px;
		border-radius: 16px;
		padding: 10px;
		@media (min-width: 480px) {
			padding: 40px;
		}
	}
	&-title {
		width: 100%;
		text-align: center;
		font-size: 22px;
		font-weight: 500;
		line-height: 35px;
		.prompt {
			font-size: 13px;
			font-weight: 400;
			line-height: 21px;
		}
	}
	&-message {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 24px;
		.content {
			max-width: 432px;
			font-size: 13px;
			font-weight: 400;
			line-height: 21px;
			letter-spacing: 0px;
			padding: 0 16px;
			margin-bottom: 0;
		}
	}
	&-actions {
		display: flex;
		gap: 24px;
		max-width: 464px;
		width: 100%;
		&>* {
			width: 100%;
			font-size: 13px;
			font-weight: 500;
			line-height: 24px;
		}
		.resend {
			background-color: $burgundy;
			color: #fff;
		}
		.support {
			color: $burgundy;
			border: 1px solid $burgundy;
		}
	}
}

//Email confirmed
.email-confirmed-wrapper {
	max-width: 800px;
	max-height: 328px;
	padding: 40px;
	border-radius: 16px;
	background-color: #fff;
	display: flex;
	gap: 20px;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.confirmed-image {
		background-color: $burgundy;
		border-radius: 50%;
		width: 105px;
		height: 105px;
		text-align: center;
		i {
			color: #fff;
		}
	}
	.email-confirmed-message {
		h3 {
			font-size: 22px;
			font-weight: 500;
			line-height: 35px;
		}
		.prompt {
			font-size: 13px;
			font-weight: 400;
			line-height: 21px;
		}
		text-align: center;
	}
}

//survey
$black-survey: #171717;
.survey {
	fieldset {
		border: none;
	}
	a:hover {
		text-decoration: inherit;
	}
	&-wrapper {
		position: relative;
		background-color: #fff;
		padding: 10px;
		@media (min-width: 480px) {
			padding: 25px;
		}
		max-width: 800px;
		min-height: 528px;
		gap: 40px;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex: 1;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		&:before {
			content: "";
			background: #D9D9D9;
			position: absolute;
			top: 0;
			left: 5%;
			width: 90%;
			height: 1px;
		}
		&:after {
			content: "";
			background: $burgundy;
			position: absolute;
			top: 0;
			left: 5%;
			width: calc( var(--part)*18% );
			height: 1px;
		}
	}
	&-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&-count {
			font-size: 11px;
			font-weight: 500;
			line-height: 18px;
			letter-spacing: 2px;
			&-current {
				color: $black-survey;
			}
			&-total {
				color: #C1C1C1;
			}
		}
		&-title {
			font-size: 22px;
			font-weight: 500;
			line-height: 35px;
			letter-spacing: 0px;
		}
		&-description {
			font-size: 13px;
			font-weight: 400;
			line-height: 21px;
			letter-spacing: 0px;
			color: #828486;
		}
	}
	.ortitle {
		cursor: pointer;
		margin-top: -24px;
	}
	.more-blockchains {
		user-select: none;
		background: linear-gradient(90deg, #6C1C44 0%, #3DB3BF 100%);
		background-clip: text;
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		font-size: 7px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 1px;
		margin-top: -10px;
	}
	&-body {
		width: 100%;
		display: flex;
		max-width: 464px;
		flex-direction: column;
		gap: 24px;
		.outlabel {
			color: #171717 !important;
			font-size: 10px;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: 0px;
			text-align: left;
			padding: 0 16px;
			color: #828486;
			margin-bottom: 0;
			margin-bottom: -20px;
		}
		&-item {
			display: flex;
			max-width: 464px;
			width: 100%;
			&-contact {
				display: flex;
				gap: 8px;
				flex-basis: 30%;
				&-input {
					display: flex;
					justify-content: flex-end;
					flex-basis: 70%;
				}
			}
			&-tokenlist {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				@media (min-width: 320px) {
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: center;
				}
				padding: 0 20px;
				gap: 16px;
				.survey-body-item-token {
					display: flex;
					flex: 1;
					@media (min-width: 320px) {
						flex-basis: 30%;
					}
					input:checked ~ label {
						color: #171717;
					}
					label {
						font-size: 9px;
						font-weight: 400;
						line-height: 15px;
						letter-spacing: 0px;
						color: #828486;
					}
					&-hidden {
						display: none;
					}
				}
			}
			legend {
				font-size: 11px;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: 0px;
				margin-bottom: 16px;
			}
			label {
				color: $black-survey;
			}
			&-accept-email {
				font-size: 11px;
				font-weight: 400;
				line-height: 18px;
				max-width: 464px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 16px;
				legend {
					font-size: 11px;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 0px;
				}
				.radio-button {
					position: relative;
					input {
						width: 10.5px;
						height: 10.5px;
						position: relative;
						appearance: none;
						border: 1px solid $burgundy;
						padding: 4px;
						border-radius: 50%;
						margin-right: 5px;
						&:checked {
							width: 10.5px;
							height: 10.5px;
							border-radius: 50%;
							background-color: #fff;
							border: 1px solid $burgundy;
							& ~ .radio-after {
								position: absolute;
								width: 6.5px;
								height: 6.5px;
								border-radius: 50%;
								background-color: $burgundy;
								top:5px;
								left:7px;
							}
						}
						&:checked:after {
							width: 9px;
							height: 9px;
							border: 1px solid #fff;
							font-size: 6px;
							position: absolute;
							top: 0px;
							left: 0px;
							background-color: #fff;
							-webkit-background-clip: text;
							background-clip: text;
							-webkit-text-fill-color: transparent;
						}
					}
				}
			}
		}
	}
	&-footer {
		width: 100%;
		display: flex;
		max-width: 464px;
		gap: 10px;
		&-single {
			justify-content: center;
		}
		&-multi {
			justify-content: space-between;
		}
		&-button {
			&-continue {
				background-color: $burgundy;
				color: #fff;
				width: 100%;
				max-width: 200px;
				&:hover {
					color: #fff;
				}
			}
			&-back {
				background-color: #fff;
				color: $burgundy;
				border: 1px solid $burgundy;
				width: 100%;
				max-width: 100px;
				&:hover {
					color: $burgundy;
				}
			}
		}
	}
}
